body{
    background: #b1e02d;
  margin-top:20px;
}
form{
    background:#25c768;
    padding: 5px;
    width: fit-content;
    margin: 0 auto;
    border-radius: 10px;
}
input[type="text"]{
    font-size: 1em;
    border:0;
    padding:10px;
    border-radius: 10px 0 0 10px;
    outline: 0;
}
input[type="submit"]{
    font-size: 1em;
    border:0;
    padding:10px;
    border-radius: 0 10px 10px 0;
    cursor:pointer;
}

#weatherContainer{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    background:rgb(15, 172, 211);
    padding: 70px;
    border-radius:15px;
    height:150px;
    width:300px;
    box-shadow: 0 0 20px 2px #5e5d5da9 ;
    
}

#cityName{
    position: absolute;
    top:0;
    left:0;
    font-size: 2.9em;
    width:290px;
    white-space: nowrap;
    overflow-x: scroll;
}

#image{
    position: absolute;
    top:10px;
    right:10px;
    background:#c6ccc1;
    height: 100px;
    border-radius: 50%;
    border: 0.2px dotted black;
    box-shadow: 0 0 20px 2px #bfd485 ;
}

#temp{
    position: absolute;
    bottom:20px;
    left:10px;
    font-size: 5em;
}

#main{
    position: absolute;
    bottom:40px;
    right:10px;
    font-size: 2em;

}

#discription{
    position: absolute;
    bottom:5px;
    right:0px;
    font-size: 1.1em;
    background:rgba(216, 250, 239, 0.555);
    border-radius: 0 0 10px 10px;
}